In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
from df2markov import SAMPLEDATA, Markov

In [28]:
df=pd.read_csv('penguins_knn.csv')

In [29]:
df.describe()

,id,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [30]:
df.head()

,id,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,species_actual
0,1,Chinstrap,46.9,16.6,192.0,2700.0,female,2008,Chinstrap
1,2,Adelie,36.5,16.6,181.0,2850.0,female,2008,Adelie
2,3,Adelie,36.4,17.1,184.0,2850.0,female,2008,Adelie
3,4,Adelie,33.1,16.1,178.0,2900.0,female,2008,Adelie
4,5,Adelie,38.6,17.0,188.0,2900.0,female,2009,Adelie

In [31]:
dfT=df.drop(['id','species_actual'],axis=1)
dff=dfT.dropna()

In [32]:
dff.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,284.000000,284.000000,284.000000,284.000000,284.000000
mean,43.960563,17.146479,200.795775,4214.436620,2008.021127
std,5.421420,1.979708,13.970205,794.503111,0.810429
min,32.100000,13.200000,172.000000,2700.000000,2007.000000
25%,39.450000,15.575000,190.000000,3593.750000,2007.000000
50%,44.100000,17.300000,197.000000,4050.000000,2008.000000
75%,48.525000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.200000,231.000000,6300.000000,2009.000000

In [33]:
dff.head()

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Chinstrap,46.9,16.6,192.0,2700.0,female,2008
1,Adelie,36.5,16.6,181.0,2850.0,female,2008
2,Adelie,36.4,17.1,184.0,2850.0,female,2008
3,Adelie,33.1,16.1,178.0,2900.0,female,2008
4,Adelie,38.6,17.0,188.0,2900.0,female,2009

In [34]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284 entries, 0 to 341
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            284 non-null    object
 1   bill_length_mm     284 non-null    float64
 2   bill_depth_mm      284 non-null    float64
 3   flipper_length_mm  284 non-null    float64
 4   body_mass_g        284 non-null    float64
 5   sex                284 non-null    object
 6   year               284 non-null    int64
dtypes: float64(4), int64(1), object(2)
memory usage: 17.8+ KB

In [38]:
dff ['species'] = dff ['species'].astype ( str )

/var/folders/n3/xh9z25kd7wb1lmlx42tkkk780000gn/T/ipykernel_52744/4003979617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff ['species'] = dff ['species'].astype ( str )

In [39]:
dff ['sex'] = dff ['sex'].astype ( str )

/var/folders/n3/xh9z25kd7wb1lmlx42tkkk780000gn/T/ipykernel_52744/2985544048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff ['sex'] = dff ['sex'].astype ( str )

In [40]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284 entries, 0 to 341
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            284 non-null    object
 1   bill_length_mm     284 non-null    float64
 2   bill_depth_mm      284 non-null    float64
 3   flipper_length_mm  284 non-null    float64
 4   body_mass_g        284 non-null    float64
 5   sex                284 non-null    object
 6   year               284 non-null    int64
dtypes: float64(4), int64(1), object(2)
memory usage: 17.8+ KB

In [41]:
dfTempo=dff.drop(['species','sex'],axis=1)

In [42]:
dfTempo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284 entries, 0 to 341
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bill_length_mm     284 non-null    float64
 1   bill_depth_mm      284 non-null    float64
 2   flipper_length_mm  284 non-null    float64
 3   body_mass_g        284 non-null    float64
 4   year               284 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 13.3 KB

In [43]:
analisis=dfTempo.to_numpy()

In [44]:
analisis

array([[  46.9,   16.6,  192. , 2700. , 2008. ],
       [  36.5,   16.6,  181. , 2850. , 2008. ],
       [  36.4,   17.1,  184. , 2850. , 2008. ],
       ...,
       [  48.8,   16.2,  222. , 6000. , 2009. ],
       [  59.6,   17. ,  230. , 6050. , 2007. ],
       [  49.2,   15.2,  221. , 6300. , 2007. ]])

In [46]:
mymodel= Markov(dfTempo)

KeyError: 'state'